<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login</title>
</head>
<body>
	<div th:if="${param.error}">Invalid username or password</div>
	<div th:if="${param.logout}">You've been successfully logged out</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label><input type="text" name="username" />Username: </label>
		</div>
		<div>
			<label><input type="password" name="password" />Password: </label>
		</div>
		<div>
			<input type="submit" value="Log in" />
		</div>
	</form>

	<div>Users table:</div>
	<table>
		<thead>
			<tr>
				<td>Username</td>
				<td>Passoword</td>
				<td>Roles</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>kamil</td>
				<td>kamil</td>
				<td>BASIC</td>
			</tr>
			<tr>
				<td>admin</td>
				<td>admin</td>
				<td>BASIC<br/>ADMIN</td>
			</tr>
		</tbody>
	</table>
</body>
</html>